<div class="container">
    <div class="card mt-5">
        <div class="card-body">
          <h5 class="card-title">People Details</h5>
          <div >
              <ul>
                  <li class="d-flex justify-content-between">
                      <div class="d-flex flex-wrap">
                        <p><b>Name:</b> {{personProps?.name}} / </p>
                        <p><b>Length:</b> {{personProps?.height | formatHeight}}/ </p>
                        <p><b>Gender:</b> {{personProps?.gender}} / </p>
                        <p><b>Hair color:</b> {{personProps?.hair_color}} / </p>
                        <p><b>Skin color:</b> {{personProps?.skin_color}}</p>

                      </div>
                  </li>
              </ul>
          </div>
        </div>
      </div>
      <div class="mt-4 d-flex justify-content-end">
        <button type="button" routerLink="../">Back</button>
      </div>
</div>
